
/*General*/
html body {
    width: 100%;
    color: black;
/*    background-color: black;*/
    font-family: 'Fredericka the Great', cursive;
}
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    width: 60%;
    margin: 0.5% auto;
    padding: 1%;
    border-radius: 4%;
    background-color: floralwhite
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1%;
}

.stats {
    display: flex;
    justify-content: space-around
    flex-direction: row;
}

/*each column*/

#logo {
    display: flex;
    justify-content: center;
}

#logo h1 {
    text-align: center;
    padding: 1em;
    font-size: 4em;
}

#crystal-logo{
    border-radius: 50%;
    background-color: beige;
    color: black;
}

#instructions {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    padding: 3%;
    border-radius: 20%;
}

#instructions p {
    font-family: 'Love Ya Like A Sister', cursive;
}
#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
    
.user-stats {
    padding: 0.3em 2em;
    color: black;
    font-size: 2em;
    }
    
#wins {
    background-color: cadetblue;
    border-radius:5px 15px;
}

#random-number {
    background-color: antiquewhite;
    border-radius:5px 15px;
}

#losses {
    background-color: crimson;
    border-radius:5px 15px;
}

#cystals {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;    
}
    
.image-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
    }

.crystal {
    width: 15%;
    height: 15%;
    margin: 1em;
}

#user-score {
font-size: 4em;
}